.nav-link:hover{
    color: yellow !important; ;
    background-color: green;
    border-radius: 10px;
}

.navbar-brand{
    font-weight: bold;
     font-size: 25px;
}

.navbar-brand:hover{
    color: yellow !important; ;
}

.dropdown-item:hover{
    color: orange !important;
    background-color: blue;
}


.card {
    width: 90%;
    height: 600%;
    background-color: bisque;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 2%;
}


body{
    background-color: skyblue;
    /* background-image: url('../images/image.png');
    background-size: cover; /* or 'contain', or other options */
    /* background-repeat: no-repeat;
    background-position: center center;
    margin: 0; */ 
}

.rounded{
    border-top: 8px solid rebeccapurple;
    border-radius: 5px;
}

.mydivstyle:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}